.album-list {
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.album {
    margin: 20px;
}

.album a {
    text-decoration: none;
}

@media screen and (min-width:1080px) {
    .album-info div{
        max-width: 175px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .album-img {
        width: 175px;
        height: 175px;
        background-color: red;
    }
}

@media screen and (max-width:1079px) {
    .album-info div{
        width: 125px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .album-img {
        width: 125px;
        height: 125px;
        background-color: red;
    }
}

.album-content {
    margin-top: 10px;
}

.album-info {}

.artist-name a{
    color: rgb(63, 63, 63);
}

.album-name a{
    color: gray;
}

.artist-name a:hover, .album-name a:hover{
    color: black;
}